--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
easyocr
fastapi
uvicorn
pdf2image
pytesseract
Pillow
python-multipart
ocrmypdf
opencv-python
numpy
reportlab
scipy
python-bidi
shapely
ghostscript
